body {
    width: 90%;
    margin: 0 auto;
}

button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.sub_title {
    border: 3px;
    background-color: #6A6A68;
    color: #FFFFFF;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    
}

.must {
    background-color: #C95C54;
    color: #FFFFFF;
    height: 20px;
}

.submit_btn {
    background-color: #52B24C;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    /* bottom: 5px; */
    padding-top: 10px;
    width: 90%;
    height: 60px;
    border-color: #52B24C;
    border-radius: 30%;
    outline: none;
    
}

.item {
    /* margin: 10px; */
    padding: 10px;
}
.txt{
width: 90%;
/* margin: -10%; */
height: 45px;
}

.half_txt{
    width: 44%;
    height: 45px;
    /* margin: -10%; */
}
