body {
    width: 90%;
    margin: 0 auto;
}

.sub_title {
    border: 3px;
    background-color: #6A6A68;
    color: #FFFFFF;
    height: 150%;
    
}

.must {
    background-color: #C95C54;
    color: #FFFFFF;
    height: 100%;
}

button {
    background-color: #52B24C;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    bottom: 10%;
    width: 90%;
    height: 40px;
    border-color: #52B24C;
    border-radius: 10%;
    
}

.item {
    /* margin: 10px; */
    padding: 10px;
}
.txt{
width: 90%;
/* margin: -10%; */
}

.half_txt{
    width: 40%;
    /* margin: -10%; */
}