body {
    margin-top: 70px;
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input[type="radio"]:checked + label {
    background: gray;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
    }

label{
  margin: 5px; /* ラベル外側の余白を指定する */
border: 1px solid #006DD9;/* ラベルの境界線を実線で指定する */
}

/* radio button */

.radio_btn{
  /* display:none */
}


/* benefits CSS */

.benefits{
    padding-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .bene_item{
  padding-top: 5px;
  
  }
  .bene_img{
  width: 15%;
  }
  
  .bene_title{
    width: 80%;
    padding-top: 30px;
  }
  
  .point_mark{
    height:20px;
    width:20px;
    border-radius:50%;
    line-height:20px;
    text-align:center;
    background-color: #FE725C;
    color: #FFF;
  
  }