.body{
    width: 90%;
}

.coupon{
    width: 80%;
    align-items: center;
    background-color: blue;
}
.coupon_img{
    width: 80%;
    align-items: center;
    padding-left: 45px;

}
.used_img{
    width: 80%;
    align-items: center;
}