.body{
    width: 90%;
}

.coupons{
    width: 80%;
    height: 100px;
    align-items: center;
    background-color: blue;
}
.coupon_img{
    width: 80%;
    align-items: center;
    padding-left: 45px;

}
.used_img{
    width: 80%;
    align-items: center;
}

.img_c{
    padding-top: 20%;
        height:50px;
        width:50px;
        border-radius:50%;
        line-height:50px;
        text-align:center;
        background-color: #FFF;
        /* color: #FFF; */
      
      }
