@media screen and (min-width:480px) {}
@media screen and (min-width:768px) and (max-width:1024px) {}
@media screen and (min-width:1024px) {}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

/* body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}
 */


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  /* background-color: #f99; */
  counter-increment: item;
}

/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}
/*   
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
} */

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 70%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;

}

.carousel::before,
.carousel__prev {
  left: 2rem;
}

.carousel::after,
.carousel__next {
  right: 2rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.211);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


* {
  margin: 0 auto;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  margin-top: 70px;
  background-color: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
a
 {
  /* color: #fff; */
  color: black;
  letter-spacing: 0.02em;
  font-weight: 600;
}

h1,
p,
a {
  padding-left: 40px;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  line-height: 25px;
}

button {
  border: 0;
  border-radius: 26px;
  padding-bottom: 2px;
}

span {
  font-size: 1.6em;
}

.container,
.flip-box,
.front,
.back {
  width: 400px;
  height: 270px;
  border-radius: 10%;
}

.container,
.flip_box {
  position: relative;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.flip_box {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-color: #363636;


}
.store{
  align-items: center;
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  border: 1px solid #FFF;
  border-radius: 10%;

}
.f_logo {
  width: 10%;
  align-items: left;
  /* padding-top: 35px; */
}

.f_title {
  padding-top: 35px;
  align-items:center;
  color: #BDAD5E;
}



.f_headline {
  /* line-height: 10px; */
  /* padding-top:10px; */
  width: 30%;
  color: #FFF;
}

.back {
  background-color: #363636;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.b_headline {
  padding-top: 50px;
  color: #fff;
}

.b_text {
  font-size: 1.4em;
  line-height: 28px;
  padding-top: 10px;
  opacity: 0.85;
  color: #BDAD5E;
  font-family: sans-serif;

}

.b_button {
  position: absolute;
  left: 36px;
  bottom: 38px;
  width: 150px;
  height: 52px;
  background-color: #C30C3D;
  transition: all 0.3s;
}

.b_button:hover {
  background-color: #E30143;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: -40px;
  bottom: -38px;
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #7e7d7d;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: #D21849;
}

/* .b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
} */

.b_round_back_hover {
  background-color: #F60044;
}

/* .s_round_click {
  transform: scale(1.7);
} */

.s_round_back {
  background-color: #C30C3D;
}



.s_arrow {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}

/* .bild_qr,
a.bild_qr{
  background-color: #FE725C;
  width: 100%;
  height: 20px;
  align-items: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;

} */
.bild_qr_btn{
  align-items: center;
  background-color: #FE725C;
  position: fixed;
  bottom: 10%;
  width: 15%;
  height: 40px;
  color: #FFF;
  text-align: center;
  margin-left: 350px;
}

.bild_qr:hover,
a.bild_qr:hover{
  color: #fff;
  background: rgb(246, 106, 7);
}

.qr_img{
  width: 30%;
  background-color: #FE725C;
  align-items: center;
}

.read_text{
  width: 80%;
  padding-top: 10px;

}
.stamp_line{
  width: 10%;
padding-top: 10px;
float: left;
}

.stamp_box{
display: flex;
justify-content: space-around;
left: 5px;
flex-wrap: wrap

}
.result{
  color: red;
}
.stamps{
  color: red;
  
}
.limit{
  width: 80%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.701);
  padding-top: 10px;
}

.b_logo{
  width: 25%;
  padding: 65px;
}

/* benefits CSS */

.benefits{
  padding-top: 10px;
  padding-bottom: 30px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.bene_item{
padding-top: 5px;

}
.bene_img{
width: 15%;
}

.bene_title{
  width: 80%;
  padding-top: 30px;
}

.point_mark{
  height:20px;
  width:20px;
  border-radius:50%;
  line-height:20px;
  text-align:center;
  background-color: #FE725C;
  color: #FFF;

}
.input_btn{
  background-color: #FE725C;
  color: #FFF;
  border: none;
  border-radius: 10%;
  margin:0 auto;
 width: 90%;
 height: 50px;
 margin-left: 20px;
}

/* input button */
input[type="submit"]:checked{
  text-align:center;
  background: #cb5b4a;/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
width: 80%;


}
